<div>
    <button (click)="showAll()" class="btn">All</button>
    <button (click)="showActive()" class="btn">Active</button>
    <button (click)="showInactive()" class="btn">Inactive</button>
</div>

<div>
    <ul>
        <li *ngFor="let employee of showEmployees" [class.active]="employee.active == true" 
        [class.inactive]="employee.active == false">
            <span class="id">{{employee.id}}</span>
            <span class="name">{{employee.name}}</span>
            <span class="surname">{{employee.surname}}</span>
        </li>
    </ul>
</div>
